<?xml version='1.0' encoding='utf-8'?>
<widget id="com.af83.dragonball" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>dragonball</name>
    <description>
        Experiment on tangible object using mutltitouch an 3 points by objects.
    </description>
    <author email="gilles.robit@af83.com" href="http://af83.com"></author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
